BETTER_AUTH_URL="http://localhost:3000"
DATABASE_URL="postgresql://postgres:1234@localhost:5432/hackaton"


GOOGLE_CLIENT_ID="nenao"
GOOGLE_CLIENT_SECRET="nenao"
GITHUB_CLIENT_ID="nenao"
GITHUB_CLIENT_SECRET="nenao"

NEXT_PUBLIC_SUPABASE_URL="https://vjweszctlekrcomragsp.supabase.co"
NEXT_PUBLIC_SUPABASE_ROLE_KEY="nenao"
